---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Card2 from '../components/Card2.astro';

import {cartStore, addToCart} from '@/lib/cartStore';
import type { Cart, CartItem} from '@/lib/cartStore';
import {isCartFlyoutOpen} from '@/lib/ministore';
import CartContent from '@/components/CartContent.astro';
import AddToCartBtn from '@/components/AddToCartBtn.astro';
import CartDisplay from '@/components/CartDisplay.svelte';
import CartItemPage from '@/components/CartItemPage.astro';
import ProductList from '@/components/ProductList.astro';



const item: CartItem = {
	id: "item1",
	name: "producto 1",
	quantity: 1,
	price: 10.95,
	imageSrc: "https://fastly.picsum.photos/id/518/200/200.jpg?hmac=nY2cAnZ0_ItWhhAsJ_XL3RsNkDo7_zobodK8FWIoCDM"
}
export const prerender = true;
---

<Layout title="Welcome to Astro.">
	<div class=" flex items-center justify-around  min-h-20 flex-col w-[calc(100%-2rem)] max-w-7xl mx-auto bg-blue-900 pb-10 gap-10"> 
		<span>Componente Carrito</span>
		
		<ProductList/>
		
	</div>
</Layout>