---
import Layout from '@/layouts/Layout.astro';
import { getCollection } from 'astro:content';
import CardShad from '@/components/CardShad.astro';
export const prerender = true;
import '@/styles/globals.css';


const categories =  await getCollection('categories');
---

<Layout title="Welcome to Astro.">
	<!-- <div class=" flex items-center justify-around  min-h-20 flex-col w-[calc(100%-2rem)] max-w-7xl mx-auto bg-blue-900 pb-10 gap-10">  -->
	 <div class="grid grid-cols-1 gap-4 w-[calc(100%-2rem)] max-w-7xl mx-auto lg:grid-cols-4 sm:grid-cols-2 bg-blue-400 px-10 py-5 mb-5">
		<span class="sm:col-span-2 lg:col-span-4 flex justify-center">Componentes Carrito</span>
		{categories.filter((category) => category.data.active).map((category) => {
			const prop = {id: category.id, title: category.data.name, description: category.data.description, imageUrl: category.data.cover}		

		return <CardShad category={prop}/>
		
	})}
	</div>
</Layout>